<?xml version="1.0" ?>

<config>
    <modules>
        <Sasha_Reviews>
            <version>0.0.1</version>
        </Sasha_Reviews>
    </modules>
    <global>
        <models>
            <reviews>
                <class>Sasha_Reviews_Model</class>
                <resourceModel>reviews_resource</resourceModel>
            </reviews>
            <reviews_resource>
                <class>Sasha_Reviews_Model_Resource</class>
                <entities>
                    <reviews_table>
                        <table>reviews</table>
                    </reviews_table>
                </entities>
            </reviews_resource>
        </models>
        <resources>
            <sasha_reviews_setup>
                <setup>
                    <module>Sasha_Reviews</module>
                </setup>
            </sasha_reviews_setup>
        </resources>
        <blocks>
            <reviews>
                <class>Sasha_Reviews_Block</class>
            </reviews>
        </blocks>
        <helpers>
            <reviews>
                <class>Sasha_Reviews_Helper</class>
            </reviews>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <sasha_reviews>
                    <file>sasha_reviews.xml</file>
                </sasha_reviews>
            </updates>
        </layout>
        <routers>
            <sasha_reviews>
                <use>standard</use>
                <args>
                    <module>Sasha_Reviews</module>
                    <frontName>sasha_reviews</frontName>
                </args>
            </sasha_reviews>
        </routers>
        <translate>
            <modules>
                <Sasha_Reviews>
                    <files>
                        <default>Translations.csv</default>
                    </files>
                </Sasha_Reviews>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Sasha_Reviews>
                    <files>
                        <default>Translations.csv</default>
                    </files>
                </Sasha_Reviews>
            </modules>
        </translate>
    </adminhtml>
</config>