<config>
    <modules>
        <Translations_Test>
            <version>0.0.1</version>
        </Translations_Test>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Translations_Test>
                    <files>
                        <default>Translations.csv</default>
                    </files>
                </Translations_Test>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Translations_Test>
                    <files>
                        <default>Translations.csv</default>
                    </files>
                </Translations_Test>
            </modules>
        </translate>
    </adminhtml>
</config>